body {
	width: 100%;
	height: 100%;
	background-color: black;
	max-width: 100%;
    overflow-x: hidden;
}

html {
	max-width: 100%;
    overflow-x: hidden;
}

input[type="text"]{
    color : transparent;
    text-shadow : 0 0 0 #000;
}
input[type="text"]:focus{
    outline : none;
}

button {
  	display: inline-block;
	width: 25%;
}

div {
  	display: flex; 
  	flex-direction: column;
}

p {
	color: #f0dddd;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	font-family: 'Passion One', cursive;
	font-size: 70px;
	font-weight: 800; 
	line-height: 72px; 
	margin: 0 0 15px; 
	text-align: center; 
	text-transform: uppercase;
}

#botons {
	margin: 1%;
}

#solsong {
	width: 50%;
	margin:auto;
}

#dosbotons {
	height: 200px;
	width: 50%;
	margin:auto;
}

#Discard,#Back,#Skip {
	width: 100%;
	margin:auto;
}

#Song{
	width: 100%;
	margin:auto;
}

#Sol {
	width: 100%;
	margin:auto;
	height: 40px;
	font-size:20px;
	border:solid black 2.5px;
	font-family: 'Press Start 2P', cursive;
}

#timsc {
	margin: 1%;

}
/*WORKING ON */
#idpredemo, #demo{
	padding-left: 0px;
}

#score, #prescore{
	padding-right: 0px;
}

.cat2 {
	height: 100px;
	width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
	border-radius: 10px;
	padding: 1px;
}

#TextN {
  margin-left: 2%;
  font-family: 'Passion One', cursive;
  font-size: 50px;
  pointer-events: none;
  color: #f0dddd;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#Song {
    width:200px;
    overflow: hidden;
}

/*CATEGORY BANNERS AND BUTTONS */
td > div {
	filter:grayscale(0%);
}
#Atlus {
	background-image: url(../src/images/cat/atlus.png);
}

#Remix {
	background-image: url(../src/images/cat/remix.png);
}

#Anime {
	background-image: url(../src/images/cat/anime.png);
}

#NNintendo {
	background-image: url(../src/images/cat/mario.png);
}

#Touhou {
	background-image: url(../src/images/cat/touhou.png);
}

#Kirby {
	background-image: url(../src/images/cat/kirby.png);
}

#Pokemon {
	background-image: url(../src/images/cat/pokemon.png);
}

#Square {
	background-image: url(../src/images/cat/square.png);
}

#SpikeChun {
	background-image: url(../src/images/cat/spikechun.png);
}

#Sonic {
	background-image: url(../src/images/cat/sonic.png);
}

#K3 {
	background-image: url(../src/images/cat/k3.png);
}

#Disney {
	background-image: url(../src/images/cat/disney.png);
}

#Acc {
	width: 100%;
	background-image: url(../src/images/bttns/start.png);
    background-size: 100% 100%;
    padding-right: 50%;
}

#Reset {
	width: 100%;
	background-image: url(../src/images/bttns/reset.png);
    background-size: 100% 100%;
    padding-left: 50%;
}

#Skip {
	width: 100%;
	background-image: url(../src/images/bttns/skip.png);
    background-size: 100% 100%;
    height: 100px;
}

#Discard {
	width: 100%;
	background-image: url(../src/images/bttns/discard.png);
    background-size: 100% 100%;
    height:100px;
}
#Back {
	width: 100%;
	background-image: url(../src/images/bttns/back.png);
    background-size: 100% 100%;
    height:100px;
}

#Back2 {
	width: 50%;
	background-image: url(../src/images/bttns/back.png);
    background-size: 100% 100%;
    height:100px;
    margin: auto;
}

/*TABLE ONLY*/
table {
	width: 100%;
}
tr {
	width: 100%;
}
td {
	width: 50%;
}
/* ONLY IN INIC.HTML
 * FREEPLAYS AND SCORED BUTTONS */

#InicTitle{
	color: white;
	text-align: center;
	font-family: 'Passion One', cursive;
	font-size: 70px;
}

#Freeplay {
	margin-left: 25%;
	height: 600px;
	width: 75%;
	background-image: url(../src/images/bttns/freeplay.png);
}

#Scored {
	height: 600px;
	width: 75%;
	background-image: url(../src/images/bttns/scored.png);
}


/* ONLY IN SCORED.JS
 * COMBO SYSTEM USING GIFS */

#comb {
	display: inline-block;
	width: 100%;
	margin: 1%;
}
.combo {
	display: inline-block;
	margin-left: 10PX;
	height: 100px;
	width: 5%;
    background-size: 100% 100%;
}

#c1 {
	margin-left: 25%;
	background-image: url(../src/images/combo/1.gif);
}

#c2 {
	background-image: url(../src/images/combo/2.gif);
}

#c3 {
	background-image: url(../src/images/combo/3.gif);
}
#c4 {
	background-image: url(../src/images/combo/4.gif);
}

#c5 {
	background-image: url(../src/images/combo/5.gif);
}

#c6 {
	background-image: url(../src/images/combo/6.gif);
}

#c7 {
	background-image: url(../src/images/combo/7.gif);
}

#c8 {
	background-image: url(../src/images/combo/8.gif);
}

#c9 {
	background-image: url(../src/images/combo/9.gif);
}

#c10 {
	background-image: url(../src/images/combo/10.gif);
}

img {
	position:relative;
	display: block;
    max-width:24,74%;
    max-height: 100%;
    margin: auto;
}

a {
	position:relative;
	height: 403px;
	width:100%;
}
