body {
	width: 100%;
	background-color: pink;
}

button {
  	display: inline-block;
	width: 25%;
}

div {
  	display: flex; 
  	flex-direction: column;
}

p {
	color: #ffffff; 
	font-family: 'Raleway',sans-serif; 
	font-size: 62px; 
	font-weight: 800; 
	line-height: 72px; 
	margin: 0 0 15px; 
	text-align: center; 
	text-transform: uppercase;
}

#botons {
	margin: 1%;
}

#solsong {
	width: 50%;
	margin: 1%;
	margin-left: 25%;
}

#dosbotons {
	width: 50%;
	margin-left: 25%;
}

#timsc {
	margin: 1%;

}

.cat2 {
  	display: inline-block;
	margin-left: 10PX;
	height: 100px;
	width: 49%;
  	display: inline-block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
	border-radius: 10px;
}

#TextN {
  margin-left: 2%;
  font-family: 'Hind', sans-serif;
  font-size: 30px;
  pointer-events: none;
}

#Song {
    width:200px;
    overflow: hidden;
}
#Atlus {
	background-image: url(../src/images/cat/atlus.png);
}
#Remix {
	background-image: url(../src/images/cat/remix.png);
}
#Anime {
	background-image: url(../src/images/cat/anime.png);
}
#NNintendo {
	background-image: url(../src/images/cat/mario.png);
}
#Touhou {
	background-image: url(../src/images/cat/touhou.png);
}
#Kirby {
	background-image: url(../src/images/cat/kirby.png);
}
#Pokemon {
	background-image: url(../src/images/cat/pokemon.png);
}
#Square {
	background-image: url(../src/images/cat/square.png);
}
