body {
	width: 100%;
	background-color: black;
}

button {
  	display: inline-block;
	width: 25%;
}

div {
  	display: flex; 
  	flex-direction: column;
}

p {
	color: #ffffff; 
	font-family: 'Raleway',sans-serif; 
	font-size: 62px; 
	font-weight: 800; 
	line-height: 72px; 
	margin: 0 0 15px; 
	text-align: center; 
	text-transform: uppercase;
}

#botons {
	margin: 1%;
}

#solsong {
	width: 50%;
	margin: 1%;
	margin-left: 25%;
}

#dosbotons {
	width: 50%;
	margin-left: 25%;
}

#timsc {
	margin: 1%;

}

.cat2 {
  	display: inline-block;
	margin-left: 10PX;
	height: 100px;
	width: 49%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
	border-radius: 10px;
}

#TextN {
  margin-left: 2%;
  font-family: 'Hind', sans-serif;
  font-size: 30px;
  pointer-events: none;
}

#Song {
    width:200px;
    overflow: hidden;
}

/*CATEGORY BANNERS AND BUTTONS */

#Atlus {
	background-image: url(../src/images/cat/atlus.png);
}

#Remix {
	background-image: url(../src/images/cat/remix.png);
}

#Anime {
	background-image: url(../src/images/cat/anime.png);
}

#NNintendo {
	background-image: url(../src/images/cat/mario.png);
}

#Touhou {
	background-image: url(../src/images/cat/touhou.png);
}

#Kirby {
	background-image: url(../src/images/cat/kirby.png);
}

#Pokemon {
	background-image: url(../src/images/cat/pokemon.png);
}

#Square {
	background-image: url(../src/images/cat/square.png);
}

#SpikeChun {
	background-image: url(../src/images/cat/spikechun.png);
}

#Sonic {
	background-image: url(../src/images/cat/sonic.png);
}

#K3 {
	background-image: url(../src/images/cat/k3.png);
}

#ResetAcc {
	width: 35%;
	margin-left: 32%;
}

#Acc {
  	display: inline-block;
	width: 100%;
	background-image: url(../src/images/bttns/start.png);
}

#Reset {
  	display: inline-block;
	width: 100%;
	background-image: url(../src/images/bttns/reset.png);
}

/* ONLY IN INIC.HTML
 * FREEPLAYS AND SCORED BUTTONS */

#Freeplay {
	margin-top: 7.5%;
	height: 600px;
	width: 48%;
	background-image: url(../src/images/bttns/freeplay.png);
}

#Scored {
	margin-top: 7.5%
	display: inline-block;
	width: 48%;
	height: 600px;
	background-image: url(../src/images/bttns/scored.png);
}


/* ONLY IN SCORED.JS
 * COMBO SYSTEM USING GIFS */

#comb {
	width: 100%;
	margin: 1%;
}
.combo {
	float;
	margin-left: 10PX;
	height: 100px;
	width: 5%;
    background-size: 100% 100%;
}

#c1 {
	background-image: url(../src/images/combo/1.gif);
}

#c2 {
	background-image: url(../src/images/combo/2.gif);
}

#c3 {
	background-image: url(../src/images/combo/3.gif);
}
#c4 {
	background-image: url(../src/images/combo/4.gif);
}

#c5 {
	background-image: url(../src/images/combo/5.gif);
}

#c6 {
	background-image: url(../src/images/combo/6.gif);
}

#c7 {
	background-image: url(../src/images/combo/7.gif);
}

#c8 {
	background-image: url(../src/images/combo/8.gif);
}

#c9 {
	background-image: url(../src/images/combo/9.gif);
}

#c10 {
	background-image: url(../src/images/combo/10.gif);
}
